
body{
	margin-left: 10%;
	margin-right: 10%;
	width: 85%; 
}
article{
	background-color: blue;
	margin-bottom: 0;
}
aside{
	background-color: yellow;
		margin-top: 0;
}
h1{
	color: blue;
}
.parent{
	border: 5px solid lightcoral;
}
.parent{
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.verkefni{
	height: 50px;
	color: white;
	text-align: center;
	line-height: 50px;
	font-weight: 600;

}

.verkefni{
	width: auto;
	align-items: flex-start;
	border: 1px solid darkgreen;
	background-color:	#556B2F;
}
.box1{
	border:  solid yellow;
	background-color: yellow; 
	margin-top: 0em; 
}

.box2{
	border: solid blue;
	background-color: blue;
	margin-bottom: 0em; 	
}
.box3{
	border:solid lightgreen;
	background-color: lightgreen;
	margin: 0em;
}
@media screen and (max-width: 30em){
	body{
		margin: 0;
			width: 100%;
	}
}

