body{
	display: table;
width: 85%;
margin-right: 10%;
margin-left: 10%;
}
article{
	background-color: blue;
	margin: 0;
}
aside{
	background-color: yellow;
		margin-top: 0;
}
h1{
	color: blue;
}
.parent{
	border: 5px solid lightcoral;
}
.parent{
	display: flex;
	flex-direction:row;
	margin-top: 0;
}
.containter{
	display: table;

}
.verkefni{
	height: 50px;
	color: white;
	text-align: center;
	line-height: 50px;

}
.texti{
	font-size: 125%;
}

.verkefni{
	width: 100%;
	align-items: flex-start;
	border: 1px solid darkgreen;
	background-color:	#556B2F;
}
.box1{
	border:  solid yellow;
	background-color: yellow; 
	margin-top: 0em;
	float: left;
	width: 50%;
}

.box2{
	color: white;
	border: solid blue;
	background-color: blue;
	margin-bottom: 0em;
}
.box3{
	border:solid lightgreen;
	background-color: lightgreen;
	margin:0;
}
.box4{
	border:  solid yellow;
	background-color: yellow; 
	margin-top: 0em;
	float: right;
	width: 48.4%;
}

@media screen and (max-width: 60em){
body{
	
	width: 100%;
}

.box2{
	display: table;
	al
	width: 50%;
	float: left;
	margin-right: 25%;
	margin-left: 25%;
}
.box1{
	float: left;
	width: 25%;
	margin: 0px;
}
.box4{
	float: right;
	width: 25%;

}
}
